<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
</head>
<body>
    {% include navbar.html %}
    <div class="container mt-4">
        {{ content }}
     <nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="tab.html">Servizi</a></li> <!-- Aggiunto il link alla nuova pagina -->
    <!-- Aggiungi altri link se necessario -->
  </ul>
</nav>   
    </div>
    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container">
            <span class="text-muted">&copy; 2024 Il tuo Nome. Tutti i diritti riservati.</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

